{% extends "main/layout.html" %}
{% block title %}
Cart
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="{% url "search" %}" method="get">
                            <input type="text" placeholder="Search products..." name="search_word">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for product in products %}
                            <div class="thubmnail-recent">
                                <img src="{{ product.image.url }}" class="recent-thumb" alt="">
                                <h2><a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a></h2>
                                <div class="product-sidebar-price">
                                    <ins>${{ product.price }}</ins>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            {% for post in recent_posts %}
                                <li><a href="{% url "product_detail" post.id %}">{{ post.full_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="get" action="{% url "checkout" %}">
                                {% csrf_token %}
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart.cart_items.all %}
                                            <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove"   href="{% url "cart_item_delete" cart_item.id %}">×</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{{ cart_item.product.image.url }}"></a>
                                            </td>

                                            <td class="product-name">
                                                <a href="single-product.html">{{ cart_item.product.full_name }}</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">{{ cart_item.product.price }}</span>
                                            </td>

                                            <td class="product-quantity">
                                                <span>{{ cart_item.quantity }}</span>
                                            </td>

                                            <td class="product-subtotal">
                                                <span class="amount">{{ cart_item.price }}</span>
                                            </td>
                                        </tr>


                                        {% endfor %}
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <input type="submit" value="Checkout" name="proceed" class="checkout-button button alt wc-forward">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">

                            {% if interested_products %}
                                <div class="cross-sells">
                                    <h2>You may be interested in...</h2>
                                    <ul class="products">
                                        {% for product in  interested_products %}
                                            <li class="product">
                                                <a href="{% url "product_detail" product.id %}">
                                                    <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="{{ product.image.url }}">
                                                    <h3>Ship Your Idea</h3>
                                                    <span class="price"><span class="amount">${{ product.price }}</span></span>
                                                </a>

                                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="{% url "product_detail" product.id %}">Select options</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}


                            <div class="cart_totals ">
                                <h2>Cart Totals</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">${{ price }}

                                            </span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">${{ price }}</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}