{% extends "main/layout.html" %}
{% block title %}
    Categories
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Categories</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="{% url 'search' %}" method="get">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for product in products %}
                            <div class="thubmnail-recent">
                            <img src="{{ product.image.url }}" class="recent-thumb" alt="">
                            <h2><a href="{% url 'product_detail' product.id %}">{{ product.full_name }}</a></h2>
                            <div class="product-sidebar-price">
                                <ins>${{ product.price }}</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="">
                <ul>
                    {% for category in categories %}
                        <a href="{% url 'sorted_by_category' category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}