{% extends "main/layout.html" %}
{% block title %}
    Checkout

{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Buy</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="{% url "search" %}" method="get">
                            <input type="text" placeholder="Search products..." name="search_word">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for product in products %}
                            <div class="thubmnail-recent">
                                <img src="{{ product.image.url }}" class="recent-thumb" alt="">
                                <h2><a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a></h2>
                                <div class="product-sidebar-price">
                                    <ins>${{ product.price }}</ins>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            {% for post in recent_posts %}
                                <li><a href="{% url "product_detail" post.id %}">{{ post.full_name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="product-content-right">






                        {% if cart.cart_items.all and not cart.is_sold %}



                            <div class="" style="margin-top: 50px;padding: 50px; position: relative">
                                <table class="shop_table" style="margin-top: 300px">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for cart_item in cart.cart_items.all %}
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        {{ cart_item.product.full_name }} <strong class="product-quantity">× {{ cart_item.quantity }}</strong> </td>
                                                    <td class="product-total">
                                                        <span class="amount">${{ cart_item.price }}</span> </td>
                                                </tr>
                                            {% endfor %}


                                    </tbody>
                                    <tfoot>

                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">${{ cart_info.total_price }}</span>
                                            </td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>

                                                Free Shipping
                                                <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                            </td>
                                        </tr>


                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">${{ cart_info.total_price }}</span></strong> </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            <form action="{% url "checkout" %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>City or Province</label>
                                    <input type="text" name="city_or_province" placeholder="Tashkent city" class="form-control" value="{{ profile.city_or_province }}">
                                </div>
                                <div class="form-group">
                                    <label>Region</label>
                                    <input type="text" name="region" placeholder="Mirobod" class="form-control" value="{{ profile.region }}">
                                </div>
                                <div class="form-group">
                                    <label>Home address</label>
                                    <input type="text" name="home_address" placeholder="Qo'yliq-1,23A,41" class="form-control" value="{{ profile.home_address }}">
                                </div>
                                <div class="form-group">
                                    <label>Postcode</label>
                                    <input type="text" name="post_code" class="form-control" value="{{ profile.post_code }}">
                                </div>
                                <div class="form-group">
                                    <label>The nearest salesoffice for you</label>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>{{ salesoffice_first.country }} {{ salesoffice_first.city_or_province }} {{ salesoffice_first.region }}</option>

                                        {% for salesoffice in salesoffices %}
                                            <option value="{{ i }}">{{ salesoffice.country }} {{ salesoffice.city_or_province }} {{ salesoffice.region }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <button type="submit">Buy</button>
                            </form>
                            </div>
                        {% elif cart.is_sold %}
                            <p>
                                Tez orada siz bilan bog'lanamiz!
                            </p>

                        {% else %}
                            <p style="color: firebrick">You haven't ordered yet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}