{% extends 'main/layout.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
    {% if anons %}
        <div class="slider-area">
                <!-- Slider -->
                <div class="block-slider block-slider4">
                    <ul class="" id="bxslider-home4">
                        {% for anon in anons %}
                            <li>
                                <img src="{{ anon.image.url }}" alt="Slide">
                                <div class="caption-group">
                                    <h2 class="caption title">
                                        {{ anon.title }}
                                    </h2>
                                    <h4 class="caption subtitle">{{ anon.subtitle }}</h4>
                                    <a class="caption button-radius" href="{% url "products_list" %}"><span class="icon"></span>Shop now</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- ./Slider -->
        </div> <!-- End slider area -->
    {% endif %}
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>New products</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            {% for product in products %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="{{ product.image.url }}" alt="">
                                        <div class="product-hover">
                                            <a href="{% url "product_detail" product.id %}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="{% url "product_detail" product.id %}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>${{ product.price }}</ins> <!--<del>${{ product.price }}</del> -->
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">

                            {% for brand in brands %}
                                <a>
                                    <img src="{{ brand.image.url }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
    
    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget">
                        {% if top_sellers %}
                        <h2 class="product-wid-title">Top Sellers</h2>
                        <a href="{% url 'products_list' %}" class="wid-view-more">View All</a>
                            {% for seller in top_sellers %}
                                <div class="single-wid-product">
                                    <a href="{% url "product_detail" seller.id %}"><img src="{{ seller.image.url }}" alt="" class="product-thumb"></a>
                                    <h2><a href="single-product.html">{{ seller.full_name }}</a></h2>

                                    <div class="product-wid-price">
                                        <ins>${{ seller.price }}</ins>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        {% if top_new %}
                        <h2 class="product-wid-title">Top New</h2>
                        <a href="#" class="wid-view-more">View All</a>
                            {% for product in top_new %}
                                <div class="single-wid-product">
                                    <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" alt="" class="product-thumb"></a>
                                    <h2><a href="{% url 'product_detail' product.id %}">{{ product.full_name }}</a></h2>

                                    <div class="product-wid-price">
                                        <ins>${{ product.price }}</ins>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->
{% endblock %}
