{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'> -->

    <link href='{% static "main/fontawesome/css/all.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "main/fontawesome/css/brands.css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "main/fontawesome/css/fontawesome.css" %}' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "main/css/font-awesome.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static "main/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "main/css/style.css" %}">
    {% url "login" as login_url %}
    {% if request.get_full_path == login_url %}
    <link rel="stylesheet" href="{% static "main/css/login.css" %}">
    {% endif %}
    <link rel="stylesheet" href={% static "main/css/responsive.css" %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->

      <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>

      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--Header area -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        {% if not request.user.is_authenticated %}

                            <li><a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a></li>
                        {% endif %}



                        <li><a href="{% url "checkout" %}"><i class="fa fa-user"></i> Checkout</a></li>
                        {% if not request.user.is_authenticated %}
                        <li><a href="{% url "register" %}">SignUp</a></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url "cart" %}"><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href="{% url "profile" %}"><i class="fa fa-user"></i> My Account</a></li>
                                <span class="glyphicon glyphicon-log-out"></span> <a  href="{% url "logout" %}">Log out</a>
                        {% endif %}
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
<!--End header area -->
<!-- Brand area-->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="{% url 'home'  %}"><img src="{% static "main/img/logo.png" %}" alt=""></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="{% url "cart" %}">Cart - <span class="cart-amount">${{ cart_info.total_price }}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{ cart_info.quantity }}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End brand area-->
<!--Menu area-->
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% url 'home' as home_url %}
                    <li {% if request.get_full_path == home_url %}class="active"{% endif %}>
                        <a href="{{ home_url }}" >HOME</a>
                    </li>
                    {% url 'products_list' as product_list_url %}
                    <li {% if request.get_full_path == product_list_url %} class="active"{% endif %}>

                        <a href="{{ product_list_url }}" >SHOP PAGE</a>
                    </li>
                    {% url 'product_detail' product.id as product_detail_url %}
                    <li {% if request.get_full_path == product_detail_url %}class="active"{% endif %}>
                        <a href="{% url "product_detail" 0 %}" >SINGLE PRODUCT</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        {% url 'cart'  as cart_url %}
                        <li {% if request.get_full_path == cart_url %}class="active"{% endif %}>
                            <a href="{{ cart_url }}" >CART</a>
                        </li>
                        {% url 'checkout' as check_out_url %}
                            <li {% if request.get_full_path == check_out_url %} class="active" {% endif %}><a href="{% url "checkout" %}">Checkout</a></li>
                    {% endif %}
                    {% url 'category' as category_url %}
                    <li><a href="{% url "category" %}" {% if request.get_full_path == category_url %} class="active" {% endif %}>Category</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->
{% block content %}

{% endblock %}
<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>u<span>Stora</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                    {% if social_networks %}
                        <div class="footer-social">
                            {% for network in social_networks %}
                                <a href="{{ network.url }}" target="_blank"><i class="{{ network.icon }}"></i></a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        {% for category in categories %}
                            <li><a href="{% url "sorted_by_category" category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->

<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="../../static/main/js/owl.carousel.min.js"></script>
<script src="../../static/main/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="../../static/main/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="../../static/main/js/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="{% static "main/js/bxslider.min.js" %}"></script>
<script type="text/javascript" src="../../static/main/js/script.slider.js"></script>
</body>
</html>