{% extends "main/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
    {% if message %}
        <script>
            alert({{ message }})
        </script>
    {% endif %}
<section style="height: 100%">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <form  class="box" method="POST" action="{% url "login" %}">

                        {% csrf_token %}
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p>
                        <p style="color: firebrick">{% if message %}{{ message }}{% endif %}</p>
                        <input type="username" name="username" placeholder="Username">

                        <input type="password" name="password" placeholder="Password">

                        <a class="forgot text-muted" href="{% url "register" %}">Forgot password?</a>
                        <input type="submit" name="button" value="Login">

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}