<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<link href="{% static "main/css/bootstrap.min.css" %}">
<body>
    <div class="row">
        <div class="col-md-4">
            {% for order in orders %}
                {{ order.full_name }}  {{ order.phone_number }}  {{ order.post_code }}
                {% for item in order.cart.cart_items.all %}
                    <p>{{ item.product.full_name }} | {{ item.quantity  }} | {{ item.price }}</p>
                {% endfor %}
                <form action="{% url "order_detail" order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="create" value="create">Confirm</button>
                    <button type="submit" name="delete" value="delete">Delete</button>
                </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>