{% extends 'main/layout.html' %}
{% block title %}
{{ profile.full_name }}
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="{% url "profile" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" name="full_name" placeholder="John Hopkins" class="form-control" value="{{ profile.full_name }}">
                </div>
                <div class="form-group">
                    <label>City or Province</label>
                    <input type="text" name="city_or_province" placeholder="Tashkent city" class="form-control" value="{{ profile.city_or_province }}">
                </div>
                <div class="form-group">
                    <label>Region</label>
                    <input type="text" name="region" placeholder="Mirobod" class="form-control" value="{{ profile.region }}">
                </div>
                <div class="form-group">
                    <label>Home address</label>
                    <input type="text" name="home_address" placeholder="Qo'yliq-1,23a,41" class="form-control" value="{{ profile.home_address }}">
                </div>
                <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" name="post_code" class="form-control" value="{{ profile.post_code }}">
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input type="text" placeholder="+998901234567" name="phone_number" class="form-control" value="{{ profile.phone_number }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}