{% extends 'main/layout.html' %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{{ product.image.url }}" alt="">
                            </div>
                            <h2><a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>${{ product.price }}</ins> <!--<del>$999.00</del>-->
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{% url "product_detail" product.id %}">Add to cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i  %}
                                    <li class="active"><a href="?page={{ page_obj.number }}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                            {% endif %}
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
