{% extends "main/layout.html" %}
{% block title %}
    {{ product.full_name }}
{% endblock %}
{% block content %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="{% url "search" %}" method="get">
                            <input type="text" placeholder="Search products..." name="search_word">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for product_ in products %}
                            <div class="thubmnail-recent">
                            <img src="{{ product_.image.url }}" class="recent-thumb" alt="">
                            <h2><a href="{% url "product_detail" product_.id %}">{{ product_.full_name }}</a></h2>
                            <div class="product-sidebar-price">
                                <ins>${{ product_.price }}</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            {% for product in recent_posts %}
                                <li><a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{% url "home" %}">Home</a>
                            <a href="">{{ product.category.name }}</a>
                            <a href="{% url "product_detail" product.id %}">{{ product.full_name }}</a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{ product.image.url }}" alt="">
                                    </div>
                                    
                                    <div class="product-gallery">
                                        {% for image_ in album %}
                                            <img src="{{ image_.image.url }}" alt="">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.full_name }}</h2>
                                    <div class="product-inner-price">
                                        <ins>${{ product.price }}</ins> <!--<del>$100.00</del> -->
                                    </div>    
                                    {% if not product_in_cart %}

                                        <form action="{% url "product_detail" product.id %}" class="cart" method="post">
                                             {% csrf_token %}
                                            <div class="quantity">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                            </div>

                                                <button class="add_to_cart_button" type="submit">Add to cart</button>



                                        </form>
                                    {% else %}
                                        <div class="cart">
                                            <span> {{ product_in_cart.quantity }} </span>
                                            <h4>Added</h4>
                                        </div>

                                    {% endif %}

                                    <div class="product-inner-category">
                                        <p>Category: <a href="">{{ product.category.name }}</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>-->
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p>{{ product.description }}</p>
                                            </div>
                                            <!--<div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                {% for product_ in related_products %}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="{{ product_.image.url }}" alt="">
                                            <div class="product-hover">
                                                <a href="{% url "product_detail" product_.id %}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="{% url "product_detail" product_.id %}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">{{ product_.full_name }}</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>${{ product_.price }}</ins>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}